{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "semi": true,
  "tabWidth": 4,
  "overrides": [
    {
      "files": ["**/.*rc", "**/*.json"],
      "options": { "parser": "json" }
    }
  ]
}
